# Tempfiles and logs
nohup.out
*.kate-swp
*.kate-swo
*.sw?
*.log
*.db
*.xlsx
*.zip
*.base64
*.pdf
*.md
*.html.org
aiw*.html
data*/
md5.chksum
package-lock.json

# Log files
logs/

# Environments
.env
.envrc
.venv
env/
tools/venv/
ENV/
env.bak/
venv.bak/

node_modules

tools/validation/__pycache__

*__pycache__
*.pyc

anon_html.py
*.html
static/icons/favicon.ico

old_archives/

.archiveignore
*.7z
*.zip
default.db.schema.sql
setup/*
debug/devtools-network/last.har
debug/test_2_91_console.js

.claude/

!management/*.md
!documents/*.md
!management/*.html
!issue-tracker/
!issue-tracker/data
!issue-tracker/templates/*.html
